    </body>
    <footer>

<!--        Bootstrap JS Scripts-->
        <script src="/plugins/bootstrap-4.5.2-dist/js/bootstrap.bundle.min.js"></script>
        <script src="/plugins/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>

<!--        FontAwesome JS Scripts-->
        <script src="/plugins/fontawesome/fontawesome.min.js"></script>
        <script src="/plugins/fontawesome/all.min.js"></script>

    </footer>
</html>