<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

<!--        Stylesheets CSS-->
        <link rel="stylesheet" href="/plugins/bootstrap-4.5.2-dist/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />

<!--        Fontawesome CSS -->
        <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
    </head>
    <body>